<!--Navbar -->
<section class="h-100 h-custom gradient-custom-2">
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color bg-primary" style="padding-left: 100px">
        <a class="navbar-brand" href="#"><b>Medical Diagnosis App</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4" style="margin-left: 100px">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>  
            <li class="nav-item"><a class="nav-link" routerLink="/register-patient">Register Patient</a></li>  
            <li class="nav-item"><a class="nav-link" routerLink="/all-patients">View Patients</a></li>          
            <li class="nav-item"><a class="nav-link" routerLink="/symptoms">Diagnosis Result Checker</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/diagnosis">Diagnosis Result</a></li>
            <li class="nav-item" style="float: left"><a class="nav-link" routerLink="/login">Logout</a></li>
          </ul>
        </div>
      </nav>
    </section>