<!--/.Navbar -->
<section class="vh-100" style="background-color: #fff;">
    <div class="container py-5 h-10">
      <!-- <div class="row d-flex justify-content-center align-items h-100" style="float: left; max-width: 1200px"> -->
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
             <b style="color: green; float: left; font-size:24px;">Welcome! Login Successful.    </b>      
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </section>